<!-- Start Page Title Area -->
<div class="page-title-area">
    <div class="container">
        <div class="page-title-content">
            <h1>About Us</h1>
        </div>
    </div>
</div>
<!-- End Page Title Area -->

<!-- Start About Area -->
<div class="about-area pt-100 pb-70">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="about-image text-center">
                    <img src="assets/img/intro.png" alt="image">
                </div>
            </div>

            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="about-image text-center">
                    <img src="assets/img/img-1.jpg" alt="image">
                </div>
            </div>
        </div>

        <div class="about-content">
            <span class="sub-title">ABOUT US</span>
            <h2>SWITCHMOON NIGERIA LIMITED</h2>
            <p>SWITCHMOON NIGERIA LIMITED is a diverse information technology professional Services Company founded on the vision of providing our clients with a competitive edge. This is accomplished by delivering cost effective IT solutions, based on Open Systems and Open Source technologies, which are tailored to their strategic business considerations. Our aim is to develop strong, ongoing relationships with our clients and long-term partnerships, based on mutual growth and respect. </p>
            <p>Our focus is in the following industries; Financial Services, FCMG, Healthcare, Manufacturing and Trade related entities. We cater to provide solutions to small, medium and large-scale organizations, providing solution varied but not limited to Linux systems administration and network management, productivity solutions based on web and client/server technology and platform integration via TCP/IP. </p>
            <p>We have diverse experience in the administration, development, integration and support of a wide variety of vendors' platforms. As part of our commitment to furthering the role of open systems, we are vendor neutral, and thus in the ideal position to evaluate the various technical and business advantages/disadvantages for our clients in following a particular IT path. </p>
            <p>We offer our clients a dedicated team of experienced network and system administrators, software engineers, project architects, developers; support and user services personnel committed to meeting delivery deadlines, budget allocations and other business IT objectives</p>
            <!-- <ul>
                <li>a console</li>
                <li>Two Joy-Con controllers that are detachable</li>
                <li>A grip that enables you to combine them into a single gamepad for play on the TV</li>
                <li>Two straps for turning the Joy-Cons into individual controllers</li>
                <li>A dock which you can use to connect your console to the television for traditional gameplay</li>
            </ul>
            <h3>Our Goal</h3>
            <p> It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            <h3>Our Mission</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis.</p>
            <h3>Our Vision</h3>
            <p> Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse.</p> -->
        </div>

        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="about-image text-center">
                    <img src="assets/img/img-consult.png" alt="image">
                </div>
            </div>

            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="about-image text-center">
                    <img src="assets/img/intro-mobile.png" alt="image">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End About Area -->

<app-why-choose-us></app-why-choose-us>

<app-lets-talk></app-lets-talk>

<app-testimonials></app-testimonials>

<app-funfacts></app-funfacts>

<app-team-style-one></app-team-style-one>

<app-subscribe></app-subscribe>