<!-- Start Footer Area -->
<footer class="footer-area pt-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-sm-6 col-md-6">
                <div class="single-footer-widget">
                    <a routerLink="/" class="logo d-inline-block">
                        <img src="assets/img/switchmoonlogo.jpg" alt="image">
                    </a>
                    <p>SWITCHMOON NIGERIA LIMITED is a diverse information technology professional Services Company founded on the vision of providing our clients with a competitive edge.</p>
                    <ul class="social-links">
                        <li><a href="#" target="_blank"><i class="bx bxl-facebook"></i></a></li>
                        <li><a href="#" target="_blank"><i class="bx bxl-twitter"></i></a></li>
                        <li><a href="#" target="_blank"><i class="bx bxl-linkedin"></i></a></li>
                        <li><a href="#" target="_blank"><i class="bx bxl-instagram"></i></a></li>
                    </ul>
                </div>
            </div>

            <!-- <div class="col-lg-3 col-sm-6 col-md-6">
                <div class="single-footer-widget pl-4">
                    <h3>Help</h3>

                    <ul class="links-list">
                        <li><a routerLink="/privacy-policy">Privacy Policy</a></li>
                        <li><a routerLink="/privacy-policy">Return Policy</a></li>
                        <li><a routerLink="/terms-conditions">Terms & Conditions</a></li>
                        <li><a routerLink="/about">About Us</a></li>
                        <li><a routerLink="/careers">Careers</a></li>
                    </ul>
                </div>
            </div> -->

            <div class="col-lg-3 col-sm-6 col-md-6">
                <div class="single-footer-widget">
                    <h3>Services</h3>

                    <ul class="links-list">
                        <li><a routerLink="services-details">Mobile and Web Application Development</a></li>
                        <li><a routerLink="services-details">Application Migration and Integration</a></li>
                        <li><a routerLink="services-details">Project Management</a></li>
                        <li><a routerLink="services-details">Cybersecurity and Network Security Services</a></li>
                        <li><a routerLink="services-details">Business Process Outsourcing</a></li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-3 col-sm-6 col-md-6">
                <div class="single-footer-widget">
                    <h3>Contact Info</h3>

                    <ul class="footer-contact-info">
                        <li>Address: 19 OJULARI ROAD IKATE ELEGUSHI, LEKKI LAGOS STATE.</li>
                        <li>Email: <a href="mailto:Info@switchmoon.com">Info@switchmoon.com</a></li>
                        <li>Phone: <a href="tel:+2347055569900">+2347055569900</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="copyright-area">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <p>Copyright @2021 <strong>SWITCHMOON</strong></p>
                </div>

                <div class="col-lg-6 col-md-6 col-sm-6">
                    <ul>
                        <!-- <li><a routerLink="privacy-policy">Privacy Policy</a></li>
                        <li><a routerLink="terms-conditions">Terms & Conditions</a></li> -->
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- End Footer Area -->